@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Correctly defining CSS variables without quotes */
:root {
  --bg-color: #0F172A;
  --accent-color: #0EA5E9;
  --text-color: #0F172A;
  --ct-color: #1E293B;
  --mute-color: #79869B;
  --title-color: #E2E8F0;
}

/* Light theme variables */
.light__theme {
  --bg-color: #FEFDFF;
  --title-color: #0F172A;
  --text-color: #424F62;
  --ct-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #0F172A 0%, #1E293B 100%);
}

.thin-border {
  border-right: .1px solid rgba(136, 136, 136, 0.372);
}

